body {
  font-family: "Cairo", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.ant-steps-item-title {
  font-size: 0.7rem !important;
  font-weight: 700;
}
